@model JoolServerApp.Web.ViewModels.ProductDetailsVM
@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact</h2>
<style>
    
</style>
<body>
    <h2>Contact</h2>

    @Html.Partial("~/Views/Shared/_PartialNav.cshtml", Model)
    <table>
        <tr>
            <th>
                Manufacturer_ID
            </th>
            <th>
                Department_Name
            </th>
            <th>
                Department_Phone
            </th>
            <th>
                Department_Email
            </th>
        </tr>
        @foreach (var item in ViewBag.contact)
        {
            <tr>
                <td>
                    @item.Manufacturer_ID
                </td>
                <td>
                    @item.Department_Name
                </td>
                <td>
                    @item.Department_Phone
                </td>
                <td>
                    @item.Department_Email
                </td>
            </tr>
        }
    </table>
</body>