@model JoolServerApp.Web.ViewModels.SearchVM

@{
    ViewBag.Title = "Search";
}

@section Scripts
{
    <link href="~/Content/Styles/Search.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
}


<div id="searchDiv">
    <div class="logoDiv">
        <img id="logo" src="~/Content/Images/JooleSVG.svg" />
        <h1 id="slogan">Building Product Selection Platform</h1>
    </div>
    @using (Html.BeginForm()) {
        <div class="row">
            <div class="col-3 padding-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.Category_Name, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Category_Name", (IEnumerable<SelectListItem>)ViewBag.Customer_Name, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!--<select id="searchCategory" class="form-select" aria-label="Search Category" onclick="GetCategories()">
                <option selected>Category</option>-->
                    <!--This part must be filled from db-->
                <!--<option class="option" value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>



                </select>-->
            </div>

            <div class="col padding-0">
                <div class="form-group">
                    @Html.LabelFor(model => model.Product_Name, "Product", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Product_Name", (IEnumerable<SelectListItem>)ViewBag.Product_Name, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
                    </div>
                </div>




            </div>
            <div class="col-1 padding-0">
                <button id="searchBtn" type="submit" class="form-control"><i class="bi bi-search"></i></button>
            </div>
        </div>
    }



</div>
