@model IEnumerable<JoolServerApp.Data.tblUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCredential.User_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblCredential.User_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_ID })
        </td>
    </tr>
}

</table>
