@model JoolServerApp.Data.tblSubCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCategory_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblCategory.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategory.Category_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategory_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
